name: CI

on:
  push:
    branches:
    - main
  pull_request:
  schedule:
  - cron: '0 0 1 * *'

jobs:
  ESP32:
    name: ESP32
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        debug: [Debug, Release]
        standard: [11]
    env:
      NAME: ESP32
          
    steps:
    - uses: actions/checkout@v4

    - name: Configure and Build ESP32
      uses: espressif/esp-idf-ci-action@v1
      with:
        esp_idf_version: latest
        target: esp32c3
        path: .
        command: mkdir build && cd build && cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.debug }} -DCMAKE_C_STANDARD=${{ matrix.standard }} -DBUILD_TESTS_AS_CXX=OFF -DBUILD_SWIG_WRAPPERS=OFF -DBUILD_RUST_WRAPPERS=OFF && cmake --build . --parallel

  Linux:
    name: Linux
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        compiler: [clang, gcc]
        debug: [Debug, Release]
        standard: [90, 11, 23]
        shared: [OFF, ON]
        build_as_cxx: [OFF, ON]
    env:
      NAME: Linux-${{ matrix.compiler }}-${{ matrix.debug }}-${{ matrix.standard }}-${{ matrix.shared }}-${{ matrix.build_as_cxx }}
      CC: ${{ matrix.compiler }}
          
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Configure Linux
      shell: bash
      run: |
        mkdir build && cd build
        export CXX=${CC/cc/}++
        cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.debug }} -DCMAKE_C_STANDARD=${{ matrix.standard }} -DBUILD_SHARED_LIBS=${{ matrix.shared }} -DBUILD_TESTS_AS_CXX=${{ matrix.build_as_cxx }} -DCMAKE_TOOLCHAIN_FILE=$PWD/../cmake/sanitize-toolchain.cmake

    - name: Build Linux
      shell: bash
      run: cd build && cmake --build . --parallel

    - name: CMake tests Linux
      shell: bash
      run: cd build && ctest --output-on-failure --timeout 300 -E benchmark
      
  MacOS:
    name: Mac OS
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        debug: [Debug, Release]
        standard: [11, 23]
        shared: [OFF, ON]
        build_as_cxx: [OFF, ON]
    env:
      NAME: MacOS-${{ matrix.debug }}-${{ matrix.standard }}-${{ matrix.shared }}-${{ matrix.build_as_cxx }}
          
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Configure Mac OS
      shell: bash
      run: |
        mkdir build && cd build
        cmake .. -DCMAKE_BUILD_TYPE=${{ matrix.debug }} -DCMAKE_C_STANDARD=${{ matrix.standard }} -DBUILD_SHARED_LIBS=${{ matrix.shared }} -DBUILD_TESTS_AS_CXX=${{ matrix.build_as_cxx }} -DBUILD_SWIG_WRAPPERS=OFF -DCMAKE_TOOLCHAIN_FILE=$PWD/../cmake/sanitize-toolchain.cmake

    - name: Build Mac OS
      shell: bash
      run: cd build && cmake --build . --parallel

    - name: CMake tests Mac OS
      shell: bash
      run: cd build && ctest --output-on-failure --timeout 300 -E benchmark
      
  Windows:
    name: Windows VS2022
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        debug: [Debug, Release]
        standard: [11, 17]
        shared: [OFF, ON]
        build_as_cxx: [OFF, ON]
    env:
      NAME: Windows-${{ matrix.debug }}-${{ matrix.standard }}-${{ matrix.shared }}-${{ matrix.build_as_cxx }}
          
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rust-lang/setup-rust-toolchain@v1

    - name: Configure WinVS2022
      shell: bash
      run: |
        mkdir build && cd build
        cmake .. -DCMAKE_C_STANDARD=${{ matrix.standard }} -DBUILD_SHARED_LIBS=${{ matrix.shared }} -DBUILD_TESTS_AS_CXX=${{ matrix.build_as_cxx }} -DBUILD_SWIG_WRAPPERS=OFF -DCMAKE_C_FLAGS=/fsanitize:address

    - name: Build WinVS2022
      shell: bash
      run: cd build && cmake --build . --config ${{ matrix.debug }} --parallel

    - name: CMake tests WinVS2022
      shell: bash
      run: cd build && ctest -C ${{ matrix.debug }} --output-on-failure --timeout 300 -E benchmark
